<header class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="fas fa-futbol"></i>
            Gestión de Equipos
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">
                        <i class="fas fa-home"></i> Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('listar_equipo') }}">
                        <i class="fas fa-futbol"></i> Equipos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('listar_posicion') }}">
                        <i class="fas fa-list-alt"></i> Posiciones
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('listar_jugador') }}">
                        <i class="fas fa-users"></i> Jugadores
                    </a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Búsqueda" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    <i class="fas fa-search"></i> Buscar
                </button>
            </form>
        </div>
    </div>
</header>

<!-- Añadir enlaces a Font Awesome para los íconos -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" >  
